.container__menu-title{
  color: white;
}

.container__menu-title > h1{
  margin: 15px 0;
  font-size: clamp(50px, 1em + 6vw, 250px);
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__menu-title > hr{
  margin: 20px 0;
}
